body {
    margin: 0;
    padding: 0;
    color: white;
    background: linear-gradient(to top left, purple, rgb(25, 58, 130), black);
}

a {
    color: grey;
    text-decoration: none;
}

#containerGrid {
    display: grid;
    gap: 10px;
    margin: 10px;
    grid-template-columns: 1fr 5fr 1fr 1fr;
    grid-template-rows: auto 100vh 1fr 1fr;
    grid-template-areas:
        "H H H H"
        "L M M M"
        "L M M M";
}

.navbar {
    grid-area: H;
    background: linear-gradient(to left,rgb(50, 104, 204), rgb(11, 52, 140),purple);

    border-radius: 8px;
    text-align: center;

}
.left {
    background: linear-gradient(to bottom left ,rgb(25, 58, 130), black);
    border-radius: 20px;
    grid-area: L;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 16px;
}

.middle {

    border-radius: 8px;
    background: linear-gradient(to bottom left,purple ,rgb(25, 58, 130), black);

    grid-area: M;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#logo {
    display: flex;
    align-items: center;
}

#logo img {
    height: 50px;
    width: auto;

}

.EPAGE {

    display: flex;
    gap: 20px;

}