body {
    margin: 0;
    padding: 0;
    color:white;
    background: radial-gradient(rgb(25, 58, 130),black);
}
a{
    color:grey;
    text-decoration: none;
}
#containerGrid {
    display: grid;
    gap: 10px;
    margin: 10px;
    grid-template-columns: 1fr 5fr 1fr 1fr;
    grid-template-rows: auto 100vh 1fr 1fr;
    grid-template-areas:
        "H H H H"
        "L M M M"
        "L M M M";
}

.navbar {
    grid-area: H;
    border: 2px solid orange;
    text-align: center;
    
}

.left {
    border: 2px solid orange;
    grid-area: L;
}

.middle {
    border: 2px solid orange;
    grid-area: M;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#logo {
  display: flex;
  align-items: center;
}

#logo img {
  height: 50px;   
  width: auto;     
  
}

.EPAGE{
  
    display: flex;
    gap: 20px;  
   
}