body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    background: url('/images/LoginBlurBg.jpg');

}

* {
    box-sizing: border-box;
}

.fakebg {
    padding: 90px;
    background: url('/images/LoginBlurBg.jpg');
    transition: filter 0.5s ease;
}

.form {
    background-color: #376a755d;
    margin: auto;
    padding: 50px;
    border-radius: 15px;
    width: 400px;
    height: auto;
    background-color: #3e5063 opacity(40%) blur(3px);
    box-shadow: 0 0 10px rgb(0, 0, 0);
    filter: blur(2px);
    z-index: 100;



    transition: 0.5s;

}

.form:hover {
    filter: blur(0px);
    transition: .2s;
}

.insideMaterial {
    filter: opacity(100%);
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 7px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    box-shadow: none;
    filter: drop-shadow(black);
    border: 1.5px solid #727272
}

input[type="email"]:hover,
input[type="password"]:hover {
    border: 1px solid #276fe3;
    border-left-width: 7px;
    transition: .2s;
    box-shadow: 0 0 5px black;
}

button[type="submit"] {
    width: 100%;
    padding: 20px;
    margin: 10px 0px 10px auto;
    background: #276fe3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    box-shadow: inset 10px -10px 30px rgba(0, 0, 0, 0.2);
    transition: .1s;
}

button[type="submit"]:hover {
    background: #2b7cff;
    transition: .1s;
    box-shadow: 0 0 7px rgb(0, 0, 0);
}

button[type="submit"]:active {
    background: #000000;
    box-shadow: 0 0 7px rgb(0, 0, 0);
}

a {
    text-decoration: none;
    color: #c7c7c7;
    margin-left: 250px;
}

@media (min-width: 300px) and (max-width: 767px) {
    .fakebg {
        padding: 100px;
    }

    .form {
        padding: 40px;
        text-align: center;
        filter: blur(0px);

    }

    a {
        margin-left: 0px;
    }

}

@media (min-width: 768px) and (max-width: 1023px) {

    .fakebg {
        padding: 100px;
    }

    .form {

        width: 600px;
        height: 550px;
        text-align: left;
        filter: blur(0px);

    }

    a {
        margin-left: 0px;
    }

}