body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Arial, sans-serif;
}

.form {
    margin: auto;
    justify-items: left;
    padding: 10px;
    border: black 2px solid;
    border-radius: 0px 30px 0px 30px;
    width: 400px;
    height: 250px;
    background-color: #f2f2f2;
    margin-top: 200px;
}