body {
    margin: 0;
    font-family: Arial, sans-serif;

}

.fakebg {
    padding: 90px;
    background: linear-gradient(to bottom, #000000,  #ff0000, #276fe3,#002860db, #000000);
    transition: background 0.5s, transform 0.5s;

}

.form {
    margin: auto;
    padding: 50px;
    border: black 2px solid;
    border-radius: 15px;
    width: 400px;
    height: auto;
    background-color: #f2f2f2;
    filter: opacity(50%);
    
}


input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 7px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    box-shadow: none;
    filter: drop-shadow(black);
}

input[type="email"]:hover,
input[type="password"]:hover {
    border: 2px solid #276fe3;
}

button[type="submit"]:hover {
    background: #184ca0;
    transition: 0.5s;
    box-shadow: inset 0 -10px 0 rgba(0, 0, 0, 0.2);


}

button[type="submit"] {
    width: 100%;
    padding: 20px;
    margin: 10px 0px 10px auto;
    background: #276fe3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    box-shadow: inset 10px -10px 30px rgba(0, 0, 0, 0.2);
    ;

}

a {
    text-decoration: none;
    color: rgb(84, 84, 84);
    margin-left: 250px;
}