body {
    margin: 0;
    font-family: Arial, sans-serif;

}

.fakebg {
    padding: 90px;
    background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bW9kZXJuJTIwY29sb3JmdWx8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60');
    transition: filter 0.5s ease;
}

.form {
    background-color: #376a755d;
    margin: auto;
    padding: 50px;
    border-radius: 15px;
    width: 400px;
    height: auto;
    background-color: #f2f2f2 opacity(40%) blur(3px);
    box-shadow: inset 0 0 50px rgb(55, 55, 55);
    filter:blur(3px);



transition: 0.5s;

}

.form:hover {
    filter: blur(0px);
    transition:  .2s ;
}

.insideMaterial {
    filter: opacity(100%);
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 7px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    box-shadow: none;
    filter: drop-shadow(black);
    border: 1.5px solid #727272
}

input[type="email"]:hover,
input[type="password"]:hover {
    border: 1px solid #276fe3;
    border-left-width: 7px;
    transition: .2s;
    box-shadow: 0 0 5px black;
}

button[type="submit"] {
    width: 100%;
    padding: 20px;
    margin: 10px 0px 10px auto;
    background: #276fe3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    box-shadow: inset 10px -10px 30px rgba(0, 0, 0, 0.2);
    transition: .1s;
}

button[type="submit"]:hover {
    background: #2b7cff;
    transition: .1s;
    box-shadow: 0 0 7px rgb(0, 0, 0);
}

button[type="submit"]:active {
    background: #000000;
    box-shadow: 0 0 7px rgb(0, 0, 0);
}

a {
    text-decoration: none;
    color: rgb(84, 84, 84);
    margin-left: 250px;
}