body {
    margin: 0;
    padding: 90px;
    background: linear-gradient(to bottom, #001e48db, #276fe3);
    font-family: Arial, sans-serif;

}

.form {

    margin: auto;
    padding: 50px;
    border: black 2px solid;
    border-radius: 15px;
    width: 400px;
    height: auto;
    background-color: #f2f2f2;

}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 7px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="email"]:hover,input[type="password"]:hover {
    border: 2px solid #276fe3;
}

button[type="submit"]:hover {
    background: #003489;
    transition: 0.3s;

}

button[type="submit"] {
    width: 100%;
    padding: 20px;
    margin: 10px 0px 10px auto;
    background: #276fe3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: rgb(84, 84, 84);
    margin-left: 250px;
}