body {
    margin: 0;
    padding: 0;
    color: white;
    background: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    color: grey;
    text-decoration: none;
}

#containerGrid {
    display: grid;
    gap: 10px;
    grid-template-columns: 140px 10fr;
    grid-template-rows: 90px 1fr;
    grid-template-areas:
        "H H"
        "L M"
        "L M";
}

.navbar {
    grid-area: H;
    padding-left: 30px;
    border-radius: 0 0 20px 20px;
    box-shadow: inset 0px 0px 20px rgba(50, 78, 137, 0.514);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    margin-top: 0;
    top: 0;
    backdrop-filter: blur(20px);


}

.navbar a {
    border-radius: 90px;
    background: rgba(255, 255, 255, 0);
    padding: 20px;
    place-items: center;
    display: flex;
    flex-direction: row;
    transition: 0.2s;
    min-width: 50px;
    max-width: 0px;

}

.navbar a:hover {
    color: white;
    background: rgba(255, 255, 255, 0.047);
}

.left {
    padding-top: 40px;

    /* background: linear-gradient(to bottom, rgb(21, 39, 79), black); */
    background: rgb(15, 28, 56);
    border-radius: 0px 20px 20px 0px;
    box-shadow: inset -60px 0 100px black;
    position: fixed;
    top: 80px;
    z-index: 99;
    height: 100%;
    width: 140px;

}

.left a {
    border-radius: 90px;
    gap: 500px;
    background: rgba(255, 255, 255, 0);
    padding: 20px;
    margin: 20px;
    margin-left: 3px;
    place-items: center;
    display: flex;
    flex-direction: column;
    width: 100px;
    transition: 0.2s;

}

.left a:hover {
    color: white;
    background: rgba(255, 255, 255, 0.047);

}


.middle {
    gap: 10px;
    padding-left: 40px;
    padding-top: 40px;
    border-radius: 20px;
    background: linear-gradient(to left, rgb(20, 38, 75), black);
    grid-area: M;
    box-shadow: inset 0px 0px 50px rgb(0, 0, 0);
    overflow: hidden;
    max-width: 100%;



}

.head {
    display: flex;
    align-items: center;

}

#logo {
    display: flex;
    align-items: center;
}

#logo img {
    height: 50px;
    width: auto;

}

.btn {
    border: 0px;
    color: white;
    margin: 5px;
    padding: 20px;
    border-radius: 30px;
    background: linear-gradient(to right, rgb(19, 36, 71), rgb(9, 18, 35));
    transition: 0.1s;
}

.btn.primary {
    margin-left: 0px;
    font-size: large;
    font-weight: bold;
    box-shadow: 0 0 90px rgba(82, 117, 232, 0.684);

}

.btn:hover {
    background: rgb(49, 100, 201);
    transform: scale(1.1);
    box-shadow: 0 0px 40px rgba(105, 155, 255, 0.512);
}

/* .EPAGE {
    display: grid;
    place-items: center;
    height: ;
    width:70vw;
    border: 2px solid red;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
    grid-template-areas:
        "one two three four sbar sb";
    gap: 100px ;
    background-color: blanchedalmond;
} */
.EPAGE {

    display: flex;
    flex-direction: row;
    place-items: center;
    margin-left: 40px;
    gap: 50px;
    height: 50px;
    width: 150vh;
    z-index: 101;
}


/* .one {
    grid-area: one;

}

.two {
    grid-area: two;

}

.three {
    grid-area: three;

}

.four {
    grid-area: four;

} */



.search-box,
.search-btn {
    background-color: rgba(66, 66, 66, 0.314);
    color: lightgrey;
    border-radius: 50px;
    border: none;
    padding: 13px;
    margin: 8px;
    transition: 0.2s;

}

.search-box:hover,
.search-btn:hover {
    caret-color: white;
    color: rgb(187, 187, 187);
    background-color: rgba(66, 66, 66, 0.671);
    transform: scale(1.05);

}



.search-box:hover::placeholder,
.search-btn:hover::placeholder {
    color: rgb(169, 169, 169);
}

/* .search-box {
    grid-area: sbar;
} */

.search-btn {
    /* grid-area: sb; */
    box-shadow: 0 0 70px rgb(75, 132, 255);
    font-size: 18px;
}

/* -----------------thumbnail part---------------------- */
#thumbCont {
    margin: 30px;
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
    box-shadow: inset 0 0 20px black;
    border-radius: 50px 50px 9px 9px;
    /* background: linear-gradient(to bottom,rgb(10, 13, 20),rgb(21, 38, 69)); */


}

.thumbnail {

    width: 216px;
    height: 324px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
    transition: transform 0.1s;
    box-shadow: inset 0 0 20px black;
}

/* .thumbnail:hover {

    transform: scale(1.05);
    box-shadow: 0 -10px 40px rgba(105, 155, 255, 0.512);

} */

#topsearch {
    display: flex;
    margin-right: 40px;
    align-items: center;
    gap: 10px
}

/* ----------------------------------------------------------------- */
/* div for each movie */
.movie-item {
    margin: 90px 0px 50px 40px;
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 100%;
    background: #70707010;
    border-radius: 50px;
    transition: 0.2s;
    margin-right: 30px;
}

.movie-item:hover {

    transform: scale(1.05);
    box-shadow: inset 0 -5px 10px rgba(137, 175, 249, 0.295);

}

/*movie title for each movie under it*/
.movie-title {
    width: 216px;
    height: 60px;
    margin-top: 0px;
    font-size: 16px;
    text-align: center;
    align-content: center;
    color: white;
}

.movie-item:hover .movie-title{
    transition: 0.4s;
    transform: scale(1.12);
}


/* ---------------------scrollbar effects---------------------------------- */
#thumbCont::-webkit-scrollbar {
    opacity: 50%;
    height: 14px;

}

#thumbCont::-webkit-scrollbar:hover {
    height: 14px;
    opacity: 100%;
}

#thumbCont::-webkit-scrollbar-track {
    background: rgba(17, 37, 65, 0.537);
    border-radius: 100px;

}

#thumbCont::-webkit-scrollbar-thumb {
    background: rgba(37, 77, 137, 0.7);
    width: 90px;
    border-radius: 50px;
}