body {
    margin: 0;
    padding: 0;
    color: white;
    background: black;
}

a {
    color: grey;
    text-decoration: none;
}

#containerGrid {
    display: grid;
    gap: 10px;
    margin: 10px;
    grid-template-columns: 1fr 5fr 1fr 1fr;
    grid-template-rows: auto 100vh 1fr 1fr;
    grid-template-areas:
        "H H H H"
        "L M M M"
        "L M M M";
}

.navbar {
    padding-left: 30px;
    grid-area: H;
    background: linear-gradient(to left, rgb(31, 57, 114), black);
    border-radius: 40px;
    text-align: center;
    box-shadow: inset 0px 0px 30px rgb(50, 78, 137);

}

.left {
    background: linear-gradient(to top, rgb(31, 57, 114), black);
    border-radius: 20px;
    grid-area: L;
    display: grid;
    place-items: center;
    box-shadow: inset 0 0 20px rgb(50, 78, 137);

}

.middle {
    padding-left: 40px;
    padding-top: 40px;
    border-radius: 20px;
    background: linear-gradient(to top left, rgb(31, 57, 114), black);
    grid-area: M;
    box-shadow: inset 0px 0px 50px rgb(50, 78, 137);

}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#logo {
    display: flex;
    align-items: center;
}

#logo img {
    height: 50px;
    width: auto;

}

.EPAGE {
    display: grid;
    gap: 20px;

    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "one two three four";
    gap: 100px;
}


.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
}



.search-box,
.search-btn {
    border-radius: 50px;
    border: none;
    padding: 6px;
    margin: 8px;
}

/* -----------------thumbnail part---------------------- */
#thumbCont {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 50px;
}

.thumbnail {
    width: 216px;
    height: 324px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s;
}

.thumbnail:hover {
    transform: scale(1.05);
}

/* ----------------------------------------------------------------- */