body {
    margin: 0;
    padding: 0;
    color: white;
    background: black;
}

a {
    color: grey;
    text-decoration: none;
}

#containerGrid {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 90px 1fr;
    grid-template-areas:
        "H H"
        "L M"
        "L M";
}

.navbar {
    grid-area: H;
    padding-left: 30px;
    border-radius: 0 0 40px 40px;
    box-shadow: inset 0px 0px 20px rgb(50, 78, 137);
    position: sticky;
    top: 0;
    z-index: 100;
    margin-top: 0;
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);


}

.left {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, rgb(21, 39, 79), black);
    border-radius: 20px;
    display: grid;
    place-items: center;
    box-shadow: inset 0 0 100px black;
    position: sticky;
    top: 100px;
    z-index: 99;

}

.middle {
    gap: 10px;
    padding-left: 40px;
    padding-top: 40px;
    border-radius: 20px;
    background: linear-gradient(to bottom left, rgb(31, 57, 114), black);
    grid-area: M;
    box-shadow: inset 0px 0px 50px rgb(0, 0, 0);

}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#logo {
    display: flex;
    align-items: center;
}

#logo img {
    height: 50px;
    width: auto;

}

.EPAGE {
    display: grid;
    gap: 20px;

    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "one two three four";
    gap: 100px;
}


.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
}



.search-box,
.search-btn {
    border-radius: 50px;
    border: none;
    padding: 6px;
    margin: 8px;
}

/* -----------------thumbnail part---------------------- */
#thumbCont {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 50px;
}

.thumbnail {
    width: 216px;
    height: 324px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s;
    box-shadow: 0 0 20px black;

}

.thumbnail:hover {

    transform: scale(1.05);
    box-shadow: 0 0 40px black;

}

/* ----------------------------------------------------------------- */
/* div for each movie */
.movie-item {
    display: flex;
    flex-direction: column;
    /* image on top, title below */
    align-items: center;
}

/*movie title for each movie under it*/
.movie-title {
    margin-top: 8px;
    font-size: 16px;
    text-align: center;
    color: white;
}