body {
    margin: 0;
    padding: 0;
    color: white;
    background: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    color: grey;
    text-decoration: none;
}

#containerGrid {
    display: grid;
    gap: 10px;
    grid-template-columns: 140px 10fr;
    grid-template-rows: 90px 1fr;
    grid-template-areas:
        "H H"
        "L M"
        "L M";
}

.navbar {
    grid-area: H;
    padding-left: 30px;
    border-radius: 0 0 20px 20px;
    box-shadow: inset 0px 0px 20px rgba(50, 78, 137, 0.514);
    position: sticky;
    top: 0;
    z-index: 100;
    margin-top: 0;
    top: 0;
    backdrop-filter: blur(20px);


}

.left {
    display: flex;
    flex-direction: column;
    /* background: linear-gradient(to bottom, rgb(21, 39, 79), black); */
    background: rgb(15, 28, 56);
    border-radius: 0px 20px 20px 0px;
    display: grid;
    place-items: center;
    box-shadow: inset -60px 0 100px black;
    position: fixed;
    top: 100px;
    z-index: 99;
    height: 85vh;
    width: 140px;

}

.middle {
    gap: 10px;
    padding-left: 40px;
    padding-top: 40px;
    border-radius: 20px;
    background: linear-gradient(to left, rgb(20, 38, 75), black);
    grid-area: M;
    box-shadow: inset 0px 0px 50px rgb(0, 0, 0);
    overflow: hidden;
    max-width: 100%;



}

.head {
    display: flex;
    align-items: center;

}

#logo {
    display: flex;
    align-items: center;
}

#logo img {
    height: 50px;
    width: auto;

}

.btn {
    border: 0px;
    color: white;
    margin: 5px;
    padding: 20px;
    border-radius: 30px;
    background: linear-gradient(to right, rgb(19, 36, 71), rgb(9, 18, 35));
    transition: 0.1s;
}

.btn.primary {
    margin-left: 0px;
    font-size: large;
    font-weight: bold;
    box-shadow: 0 0 90px rgba(82, 117, 232, 0.684);

}

.btn:hover {
    background: rgb(49, 100, 201);
    transform: scale(1.1);
    box-shadow: 0 0px 40px rgba(105, 155, 255, 0.512);
}

/* .EPAGE {
    display: grid;
    place-items: center;
    height: ;
    width:70vw;
    border: 2px solid red;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
    grid-template-areas:
        "one two three four sbar sb";
    gap: 100px ;
    background-color: blanchedalmond;
} */
.EPAGE {

    display: flex;
    flex-direction: row;
    place-items: center;
    margin-left: 40px;
    gap: 50px;
    height: 50px;
    width: 150vh;
    z-index: 101;
}


/* .one {
    grid-area: one;

}

.two {
    grid-area: two;

}

.three {
    grid-area: three;

}

.four {
    grid-area: four;

} */



.search-box,
.search-btn {
    text-align: center;
    background-color: rgba(66, 66, 66, 0.314);

    border-radius: 50px;
    border: none;
    padding: 13px;
    margin: 8px;
    transition: 0.1s;
}

.search-box:hover,
.search-btn:hover {
    caret-color: white;
    color: rgb(187, 187, 187);
    background-color: rgba(66, 66, 66, 0.671);
    transform: scale(1.01)
}

.search-box:hover::placeholder,
.search-btn:hover::placeholder {
    text-align: center;
    color: rgb(169, 169, 169);
}

.search-box {
    grid-area: sbar;
}

.search-btn {
    grid-area: sb;
    box-shadow: 0 0 70px rgb(75, 132, 255);
    font-size: 18px;
}

/* -----------------thumbnail part---------------------- */
#thumbCont {
    margin:30px;
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
    margin-top: 50px;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
    

}

.thumbnail {
        margin-top:30px;
    margin-left: 5px;

    width: 216px;
    height: 324px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.1s;
    box-shadow: 0 0 20px black;
}

.thumbnail:hover {

    transform: scale(1.05);
    box-shadow: 0 0 40px black;

}

#topsearch {
    margin-right: auto;
    align-items: 0px;

}

/* ----------------------------------------------------------------- */
/* div for each movie */
.movie-item {
    display: flex;
    flex-direction: column;
    /* image on top, title below */
    align-items: center;
}

/*movie title for each movie under it*/
.movie-title {
    margin-top: 8px;
    font-size: 16px;
    text-align: center;
    color: white;
}